<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/actividad.css">
    <title>Lista de Tareas</title>
</head>
<body>
    <section id="cont_Titulo">
        <span id="titulo">Lista de tareas</span>
        <button id="btn1">Añadir tarea</button>
        <button id="btn2">Eliminar tarea</button>
    </section>
    <section class="container" id="contTareas">
                
    </section>
    

    <script src="../Dynamics/actividad.js"></script>
</body>
</html>
